html, body {
    height: 100%;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.hidden {
    display: none;
}

/* main header rules */

header {
    background-color: red;
    padding: 10px 0px;
}

#main-logo {
    width: 300px;
    display: block;
    margin: 0px auto;
}

.characters {
    list-style-type: none;
    padding: 0px;
}

.characters li {
    height: 220px;
    margin: 10px 8px;
    background-color: black;
    text-align: left;
    cursor: pointer;
}